#ticker-table {
    border: 1px solid #cbcbcb;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 800px;
    width: 100%;
}

#ticker-table td, #ticker-table th {
    font-family: sans-serif;
    padding: 0.5em 1em;
}

#ticker-table td {
    color: #777;
    border-bottom: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    line-height: 1.6;
    letter-spacing: 0.01em;
}

.ticker-header-row {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.ticker-header-row th {
    padding: 0.5em 1em;
    border-left: 1px solid #cbcbcb;
    font-size: inherit;
    margin: 0;
    overflow: visible;
}

.sort-button, .sort-select {
    background-color: #6999d5;
    border: none;
    color: #fff;
    padding: 1em 1em;
    margin: .5em auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: 200px;
}

.sort-select {
    padding: 1em;
    height: 3.2em;
}

.sort-label {
    display: none;
}

@media screen and (max-width: 700px) {
    .symbol-column { display: none; }
}

@media screen and (max-width: 650px) {
    .sort-select, .sort-button {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .fifteen-column { display: none; }
}

@media screen and (max-width: 500px) {
    .last-column { display: none; }
}

@media screen and (max-width: 350px) {
    #ticker-table td, #ticker-table th {
        padding: .2em;
    }
}

