<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TopView</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        {% block stylesheets %}
        <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <button class="sort-button" id="refresh-button">Refresh</button>
        <label for="sort-selection" class="sort-label">Sort Type</label>
        <select class="sort-select" id="sort-selection">
            <option value="">Select Sort Type</option>
            <option value="byName">Sort by Name</option>
            <option value="bySellPrice">Sort by Sell Price</option>
        </select>
        <label for="sort-selection" class="sort-label">Limit Count</label>
        <select class="sort-select" id="limit-results">
            <option value="">Select Limit</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
        <table id="ticker-table">
            <thead>
                <tr class="ticker-header-row">
                    <th class="currency-column">Currency</th>
                    <th class="symbol-column">Symbol</th>
                    <th class="fifteen-column">15m</th>
                    <th class="last-column">Last</th>
                    <th class="buy-column">Buy</th>
                    <th class="sell-column">Sell</th>
                </tr>
            </thead>
            <tbody>
            {% for key, ticker in tickerData %}
                <tr>
                    <td class="currency-column">{{ key }}</td>
                    <td class="symbol-column">{{ ticker.symbol }}</td>
                    <td class="fifteen-column">{{ ticker["15m"] }}</td>
                    <td class="last-column">{{ ticker.last }}</td>
                    <td class="buy-column">{{ ticker.buy }}</td>
                    <td class="sell-column">{{ ticker.sell }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% block javascripts %}
        <script src="{{ asset('assets/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>